<a href=""><<< Back to index</a>

<h2><%= board.get("name") %></h2>

<div class="board">
  <ul class="list-inline" id="lists">
  </ul>
</div>

<script type="text/javascript">
  var h = $(window).height() - $('.board').offset().top;
  $('.board').height(h);
</script>
