<div class="panel panel-default input-link board-form-link">
  <div class="panel-body board-index-panel">
    <h4>New Board</h4>
  </div>
</div>

<div class="panel panel-default input-form" style="display:none">
  <div class="panel-body board-index-panel-form">
    <form action="index.html" method="post">
      <div class="form-group">
        <input type="text" class="form-control board-name" name="board[name]" placeholder="Name...">
      </div>
      <button type="submit" class="btn btn-success board-submit">Submit</button>
    </form>
  </div>
</div>
