<div class="board">
  <ul class="list-inline sortable-lists" id="lists"></ul>
</div>

<script type="text/javascript">
  var h = $(window).height() - $('.board').offset().top;
  $('.board').height(h - 5);
</script>
