<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/#" class="navbar-brand" id="logo">Trello</a>
    </div>

    <% if logged_in? %>
      <form class="navbar-form navbar-right"
            role="sign-out"
            action="<%= api_session_url(0) %>"
            method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <%= csrf_token %>

        <button type="submit" class="btn btn-default">Sign Out</button>
      </form>
    <% else %>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#" id="log-in">Log In</a></li>
          <li><a href="#" id="sign-up">Sign Up</a></li>
      </ul>
    <% end %>
  </div>
</nav>
