// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body {
  height: 100vh;
}

.board {
    overflow-x:scroll;
    overflow-y: hidden; 
    width:100%;
    padding: 0 15px;
    height: 100vh;
}
