// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body {
  height: 100vh;
}

.board-container {
  padding-top: 10px;
}

.board {
    overflow-x:scroll;
    overflow-y: hidden;
    width:100%;
    padding: 0 15px;
    height: 100vh;
}

.board-list-item {
  display: inline-block;
  width: 300px;
  font-size: 18px;
  margin-right: 10px;
  vertical-align: top;
}

.board-index-panel {
  height: 70px;
}

.board-index-panel-form {
  height: 115px;
}

.board-header {
  padding-left: 15px;
  margin-top: 0;
}
