// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-container {
  width: 250px;
  max-height: 100%;
  overflow-y: hidden;
  margin-bottom: 0;
  .input-form {
    margin-bottom: 0;
  }
}

.list-inline {
  white-space:nowrap;
  max-height: 100%;
  margin-bottom: 0;
}

#lists {
  height: 100%;
}

.list-item {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  padding-right: 0;
}

.card-list {
  overflow-y: scroll;
  padding: 0;
  padding-top: 10px;
  .card_list_item {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.card-form-panel {
  margin: 0;
  height: 40px;
  div {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
