// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  list-style: none;
}

.dragged {
  box-shadow: 10px 10px 5px grey;
}

#content {
  margin-top: 50px;
  position: relative;
}
