<a href="javascript:void(0)">
  <div class="panel panel-default input-link list-form-link list-container">
    <div class="panel-body">
      <h4>New List</h4>
    </div>
  </div>

  <div class="panel panel-default input-form list-container" style="display:none">
    <div class="panel-body list-index-panel-form">
      <form action="index.html" method="post">
        <div class="form-group">
          <input type="text" class="form-control list-name" name="list[name]" placeholder="Name...">
        </div>
        <button type="submit" class="btn btn-success list-submit">Submit</button>
      </form>
    </div>
  </div>
</a>
