<div class="panel panel-primary list-container">
  <div class="panel-heading">
    <%= list.escape('name') %>
  </div>

  <ul class="panel-body card-list sortable-cards">
  </ul>
</div>

<script type="text/javascript">
  var boardHeight = $('.board').height();
  $('.list-container').css("max-height", boardHeight - 2);
  var headerHeight = $('.panel-heading').height();
  $('.card-list').css("max-height", boardHeight - headerHeight - 2);
</script>
